body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus .navbar-brand a:link{
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: blue;
  text-align: center;
}
#nav-list a:hover {
  background: grey;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
h2{
	text-align:center;
	color:black;
}
h4{
	text-align:center;
}
#p1{
	float:left;
	border:4px solid black;
	background-color:gray;
	margin-left:40px;
	margin-right:0px;
	margin-bottom:20px;
	padding:0px 0px 10px 10px;
	color:white;
	font-size:20px;
}
@media (min-width:1200px){
}
@media (min-width:992px) and (max-width:1199px){
	#p1{
		width:80%;
	}
}
@media (max-width:991px){
	#p1{
		width:80%;
	}
	#collapsable-nav a {
    		font-size: 1.2em;
  	}
}
